<mat-card>
  <div *ngIf='currentQuestion'>
      <div>
        <button mat-raised-button color="accent" type="button" (click)="previousSlide()">&lt; Previous question</button>&nbsp;&nbsp;
        <button mat-raised-button color="accent" type="button" (click)="nextSlide()">Next question &gt;</button>
      </div>
      <br />
      <div>
        Question {{state.question + 1}} of {{state.questions + 1}}
      </div>
      <div>
        <br /><br />
        <span>Item ID: </span>
        <span [innerHTML]='currentQuestion.itemId'></span>
      </div>
      <br />
      <strong [innerHTML]='currentQuestion.stem | safeHtml'></strong>
      <br />
      <br />

      <table>
        <tr>
          <td class="question option">A)</td>
          <td [innerHTML]='currentQuestion.optionA'></td>
          <td class="questionAnswer" [innerHTML]="markAnswer('A') | safeHtml"></td>
        </tr>
        <tr>
          <td class="question option">B)</td>
          <td [innerHTML]='currentQuestion.optionB'></td>
          <td class="questionAnswer" [innerHTML]="markAnswer('B') | safeHtml"></td>
        </tr>
        <tr>
          <td class="question option">C)</td>
          <td [innerHTML]='currentQuestion.optionC'></td>
          <td class="questionAnswer" [innerHTML]="markAnswer('C') | safeHtml"></td>
        </tr>
        <tr>
          <td class="question option">D)</td>
          <td [innerHTML]='currentQuestion.optionD'></td>
          <td class="questionAnswer" [innerHTML]="markAnswer('D') | safeHtml"></td>
        </tr>
        <tr *ngIf="currentQuestion.optionE">
          <td class="question option">E)</td>
          <td [innerHTML]='currentQuestion.optionE'></td>
          <td class="questionAnswer" [innerHTML]="markAnswer('E') | safeHtml"></td>
        </tr>
      </table>
  </div>
</mat-card>
