<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/create">Create New Question</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="questions">
      <ng-container matColumnDef="stem">
        <th mat-header-cell *matHeaderCellDef> Question </th>
        <td mat-cell *matCellDef="let element">{{ element.stem }}</td>
      </ng-container>

      <ng-container matColumnDef="optionA">
        <th mat-header-cell *matHeaderCellDef> Option A </th>
        <td mat-cell *matCellDef="let element"> {{element.optionA}} </td>
      </ng-container>

      <ng-container matColumnDef="optionB">
        <th mat-header-cell *matHeaderCellDef> Option B </th>
        <td mat-cell *matCellDef="let element"> {{element.optionB}} </td>
      </ng-container>

      <ng-container matColumnDef="optionC">
        <th mat-header-cell *matHeaderCellDef> Option C </th>
        <td mat-cell *matCellDef="let element"> {{element.optionC}} </td>
      </ng-container>

      <ng-container matColumnDef="optionD">
        <th mat-header-cell *matHeaderCellDef> Option D </th>
        <td mat-cell *matCellDef="let element"> {{element.optionD}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="processedAnswers">
        <th mat-header-cell *matHeaderCellDef> Correct Answer(s) </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor='let answer of element.processedAnswers'>
            {{ answer.value }}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right"> Actions </th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-button color="primary" (click)="editQuestion(element._id)">Edit</button>
          <button mat-button color="warn" (click)="deleteQuestion(element._id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>
