<div>
  <br>
  <mat-card>
    <section class="mat-typography">
        <h3>Update Issue</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Question essential data
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class='field-full-width'>
            <input matInput placeholder='Question ID' formControlName='itemId' required #itemId>
          </mat-form-field>
          <mat-form-field class='field-full-width'>
            <input matInput placeholder='Your question' formControlName='stem' required #stem>
          </mat-form-field>
          <mat-form-field appearance="outline" class='field-full-width'>
            <textarea matInput placeholder='Option A' formControlName='optionA' required #optionA></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" class='field-full-width'>
            <textarea matInput placeholder='Option B' formControlName='optionB' required #optionB></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" class='field-full-width'>
            <textarea matInput placeholder='Option C' formControlName='optionC' #optionC></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" class='field-full-width'>
            <textarea matInput placeholder='Option D' formControlName='optionD' #optionD></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" class='field-full-width'>
            <textarea matInput placeholder='Option E' formControlName='optionE' #optionE></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder='Answer Type' formControlName='type' required #type>
              <mat-option value='Single'>Single</mat-option>
              <mat-option value='Multiple'>Multiple</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngFor='let answer of answerKey.controls; let i=index' #answerKey>
            <mat-checkbox [formControl]='answer'>{{ defaultAnswers[i].value }}</mat-checkbox>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Question additional data
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class='field-full-width'>
              <input matInput placeholder='Exhibit id' formControlName='exhibitId' #exhibitId>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder='Exhibit Placement' formControlName='exhibitPlacement' #exhibitPlacement>
              <mat-option value=''>No Selection</mat-option>
              <mat-option value='Top'>Top</mat-option>
              <mat-option value='Bottom'>Bottom</mat-option>
              <mat-option value='Right'>Right</mat-option>
              <mat-option value='Popup'>Popup</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class='field-full-width'>
              <input matInput placeholder='Exhibit split' formControlName='exhibitSplit' #exhibitSplit>
          </mat-form-field>
          <mat-form-field class='field-full-width'>
              <input matInput placeholder='Stem image' formControlName='stemImage' #stemImage>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder='Image Placement' formControlName='imagePlacement' #imagePlacement>
              <mat-option value=''>No Selection</mat-option>
              <mat-option value='Above Header'>Above Header</mat-option>
              <mat-option value='Above Stem'>Above Stem</mat-option>
              <mat-option value='Below Stem'>Below Stem</mat-option>
              <mat-option value='Below Footer'>Below Footer</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput type='number' placeholder='Min Options' formControlName='minOptions' #minOptions>
            <mat-hint>Max: 25</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput type='number' placeholder='Max Options' formControlName='maxOptions' #maxOptions>
            <mat-hint>Max: 25</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder='Supress Option Labels' formControlName='supressOptionLabels' #supressOptionLabels>
              <mat-option value=''>No Selection</mat-option>
              <mat-option value='TRUE'>True</mat-option>
              <mat-option value='FALSE'>False</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder='Stem Header' formControlName='stemHeader' #stemHeader>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder='Stem Footer' formControlName='stemFooter' #stemFooter>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-card class="debug-card" *ngIf="debugMode">
          {{ updateForm.value | json }}
      </mat-card>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button
      type='submit'
      mat-raised-button
      color='primary'
      (click)='updateQuestion(itemId.value,
                          stem.value,
                          optionA.value,
                          optionB.value,
                          optionC.value,
                          optionD.value,
                          optionE.value,
                          type.value,
                          answerKey.value,
                          exhibitId.value,
                          exhibitPlacement.value,
                          exhibitSplit.value,
                          stemImage.value,
                          imagePlacement.value,
                          minOptions.value,
                          maxOptions.value,
                          supressOptionLabels.value,
                          stemHeader.value,
                          stemFooter.value)'
      [disabled]='updateForm.pristine || updateForm.invalid'>Save</button>
    </form>
  </mat-card>
</div>