<input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
<button type="button" class="btn btn-info" (click)="upload()" >Upload</button>
<button type="button" class="btn btn-info" (click)="deleteQuestions()" >Delete ALL existing questions</button>
