/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.form-radio-button {
  padding-right: 8px;
}

.form-radio-label {
  margin-right: 15px;
}

.green600 {
  color: #4caf50;
}

.red600 {
  color: #B00020;
}
